<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="crud.css"> -->
    <title>Home</title>
    <style>
        body { background-color: powderblue;}
        h2 {color: blue;}
        h2 {text-align: center;}
       

    </style>
</head>
<body>
    
    <h2> Authors and their quotes</h2>
    
    <table style="width: 100%">
    <tr>

    
    <th><a href="/main/create">Create</a><br></th>
    <th><br><a href="/read">Read</a><br></th>
    <th><br><a href="/main/update">Update</a><br></th>
    <th><br><a href="/main/delete">Delete</a><br></th>
</tr>
</table>
<br>
    <br><a href="/find/quotes">All Saved Quotes</a><br>
    <br><a href="/find/authors">All Saved Authors</a><br>
    
</body>
</html>